* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px double red;
    border-top-color: blue;
    width: 100%;
    font-size: 1.5rem;
    margin: 1.5em;
    padding: 1em;
}

.circle {
    background-color: lightskyblue;
    width: 100px;
    height: 100px;
    margin: 30px auto;
    border: 5px solid limegreen;
    border-radius: 30px;
}


